<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <notification :error="error" :level="level" v-for="(error, level) in errors" :key="`error-${level}`"></notification>
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <search-goods v-model="searchLine"></search-goods>
                <!-- <form action="#" class="search-from" @submit.prevent> 
                    <input type="text" class="search-field" v-model.trim="searchLine">
                    <button class="btn-search">
                        <i class="fas fa-search"></i>
                    </button>
                </form> -->
                <button class="btn-cart" @click="toggleCartVisibility">Корзина</button>
               <btn-cart :goods="goods" v-if="isVisibleCart"></btn-cart>
            </div>
        </header>
    
        <main class="content">
            <goods-list :goods="filteredGoods" @add="addToCart"></goods-list>  
           <!--  <div class="products" v-if="isGoodsNotEmpty">
                <div class="goods-item" v-for="good in filteredGoods">
                    <h3> {{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                    <button>Добавить в корзину</button>
                </div>
            </div> -->
        </main>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
